<?xml version="1.0" encoding="UTF-8"?>
<beans

	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- injection de dependance via les setters  -->
	<bean id="per_setter" class="org.eclipse.model.Person">
		<property name="id">
			<value>1</value>
		</property>
		
		<property name="firstName">
			<value>Guillaume</value>
		</property>
		
		<property name="lastName">
			<value>WELLE</value>
		</property>
		
	</bean>
</beans>